
{% block main_content %}

  <main class="main-content">
    <h5 class="section-title">Registrar una compañia</h5>

    <div class="bg-white p-4 rounded-4 shadow-sm">
      <form action="/registrarcompany" method="POST">
        <div class="row g-3">

          <div class="col-md-4">
            <label for="rfccomp">RFC de la compañía:</label>
            <input type="text" class="form-control custom-input" id="rfccomp" name="rfccomp" required>
          </div>

          <div class="col-md-4">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control custom-input" id="nombre" name="nombre" required>
          </div>

          <div class="col-md-4">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control custom-input" id="telefono" name="telefono" required>
          </div>

          <div class="col-md-4">
            <label for="pais">País:</label>
            <select class="form-select custom-input" id="pais" name="pais" required>
              <option value="">Seleccionar</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="estado">Estado:</label>
            <select class="form-select custom-input" id="estado" name="estado" required>
              <option value="">Seleccionar</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="municipio">Municipio:</label>
            <select class="form-select custom-input" id="municipio" name="municipio" required>
              <option value="">Seleccionar</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="colonia">Colonia:</label>
            <select class="form-select custom-input" id="idcolonia" name="idcolonia" required>
              <option value="">Seleccionar</option>
            </select>
          </div>

          <div class="col-md-4">
            <label for="calle">Calle:</label>
            <input type="text" class="form-control custom-input" id="calle" name="calle" required>
          </div>

          <div class="col-md-4">
            <label for="numero">Número:</label>
            <input type="text" class="form-control custom-input" id="numero" name="numero" required>
          </div>

          <div class="col-md-12">
            <label for="logo">Logo:</label>
            <input type="file" class="form-control custom-input" id="logo" name="logo" required>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-warning fw-bold px-5 py-2 rounded-pill">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
