{% include 'partials/menu.html' %}
{% block content %}
    <main class="main-content">
        <div class="row g-4">
            <div class="col-md-3">
                <div class="card-box">
                    <h6>Cajas en almacén</h6>
                    <span>500</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <h6>Productos en almacén</h6>
                    <span>1000</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <h6>Entrada hoy</h6>
                    <span>80</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card-box">
                    <h6>Salida hoy</h6>
                    <span>80</span>
                </div>
            </div>
        </div>

        <div class="section-title">Áreas en el almacén</div>
        <div class="row g-4">
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Higiene y limpieza</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Bebidas</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Enlatados</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Granos y semillas</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Cocina</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Cereales y panificados</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="area-box">
                    <strong>Otros</strong><br /><small>120 productos almacenados</small>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>