{% extends 'superuser/dashboard.html' %}

{% block content %}
<main class="main-content">
  <div class="mb-4">
    <a href="{{ url_for('app_routes.dashboard_superuser_register') }}"
      class="btn btn-warning text-dark fw-bold px-4 py-2 rounded-pill">Registrar empleado</a>
    <a href="{{ url_for('app_routes.dashboard_superuser_registerpuesto') }}"
      class="btn btn-warning text-dark fw-bold px-4 py-2 rounded-pill">Registrar puesto y roles</a>
  </div>
  <div class="bg-white p-4 rounded-4 shadow-sm">
    <h5 class="fw-bold mb-4">Lista de empleados</h5>

    <div class="table-responsive">
      <table class="table table-bordered text-center align-middle">
        <thead class="table-dark">
          <tr>
            <th>RFC</th>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Fecha de contratación</th>
            <th>turno</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>MAHJ030812</td>
            <td>Josué</td>
            <td>gerente</td>
            <td>12-03-2025</td>
            <td>Matutino</td>
            <td>Activo</td>
            <td>
              <button class="btn btn-sm btn-primary me-2">Modificar</button>
              <button class="btn btn-sm btn-dark">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}